<?xml version="1.0" encoding="utf-8" ?>
<launch>
  <arg name="respawn"                       default="true" />
  <arg name="output"                        default="screen" />

  <arg name="enable_joystick"               default="true" />
  <arg name="enable_rplidar"                default="true" />
  <arg name="enable_serial_sensors"         default="true" />
  <arg name="enable_realsense_camera"       default="true" />

  <arg name="publish_tf"                    default="true"/>
  <arg name="align_depth"                   default="true"/>

  <arg name="urdf_file"                     default="$(find athome_description)/urdf/miss_pig.xacro" />

  <include if="$(arg enable_joystick)" file="$(find athome_teleop)/launch/athome_teleop_joy.launch">
  </include> 

  <include if="$(arg enable_rplidar)" file="$(find rplidar_ros)/launch/rplidar.launch">
  </include>

  <include if="$(arg enable_serial_sensors)" file="$(find serial_sensors)/launch/serial.launch">
  </include>

  <include if="$(arg enable_realsense_camera)" file="$(find realsense2_camera)/launch/rs_camera.launch">
      <arg name="publish_tf"             value="$(arg publish_tf)"/>
      <arg name="align_depth"            value="$(arg align_depth)"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro $(arg urdf_file)" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="$(arg respawn)" output="$(arg output)" />

</launch>